<ol class="lens">
  {%- for l in site.data.lens %}
  <li class="lens__item">
    <span class="lens__key" aria-hidden="true">{{ l.key }}</span>
    <h3 class="lens__name">{{ l.name }} <span class="visually-hidden">({{ l.key }})</span></h3>
    <p class="lens__q">{{ l.question }}</p>
    <p class="lens__detail">{{ l.detail }}</p>
  </li>
  {%- endfor %}
</ol>
<p class="lens-thread"><b>The thread</b><span>representation of the robot</span><span>how it is used or adapted</span><span>downstream planning, control and skills</span><span>limitations and transfer</span></p>
