{%- assign advisor = site.data.organizers.advisor -%}
<dl class="rows">
  {%- for p in site.data.organizers.current %}
  <div>
    <dt>{% if p.url != "" %}<a href="{{ p.url }}">{{ p.name }}</a>{% else %}{{ p.name }}{% endif %}</dt>
    <dd>{% include person-line.html p=p %}</dd>
  </div>
  {%- endfor %}
  {%- if advisor %}
  <div>
    <dt>{% if advisor.url %}<a href="{{ advisor.url }}">{{ advisor.name }}</a>{% else %}{{ advisor.name }}{% endif %}</dt>
    <dd>{% include person-line.html p=advisor %}</dd>
  </div>
  {%- endif %}
</dl>
